#timerFail, #levelSuccessPopUp {
  display: none;
  position: fixed; /*it can be fixed too*/
  left:0; right:0;
  top:0; bottom:0;
  margin: auto;
  width:75%;
  height:75%;
  opacity: 0.8;
  background-color: #0098a4;
  color: white;
  padding:20px;
  border:2px solid #ccc;
  -moz-border-radius: 20px;
  -webkit-border-radius:20px;
  -khtml-border-radius:20px;
  -moz-box-shadow: 0 1px 5px #333;
  -webkit-box-shadow: 0 1px 5px #333;
}

#levelSuccessPopUp {
  flex-direction: column;
  flex-wrap: wrap;
}
#backing {
  height: 100vh;
  width: 100vw;
  z-index: -1;
  padding-bottom: 50px;
  padding-top: 50px;
}

.bubble {
  height: 5%;
  width: 5%;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  opacity: 0.85;
  position: absolute;
  cursor: pointer;
  -moz-user-select: -moz-none;
-khtml-user-select: none;
-webkit-user-select: none;
}

#reward {
  font-family: 'Risque', cursive;
  font-size: 25px;
  text-align: center;
  padding: 20px;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

#zoomAnimation {
   position: fixed;
   width: 100%;
   height: 100%;
   left: 0px;
   background-image: url("map.png");
   background-size: 100vw 100vh;
   object-fit: cover;
}

.quizCointainer {
}

.addZoom {
  animation-name: zoom;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes zoom {
  0% {
    background-position-x: 0%;
    background-position-y: 0%;
  }

  100% {
    background-position-y: 15%;
    background-position-x: 25%;
    background-size: 400vw 400vh;
  }
}

#timerFail {
  animation-duration: 0.5s;
}

#settingsMenu {
  animation-duration: 0.5s;
}

#informationMenu {
  animation-duration: 0.5s;
}

#beforeStart {
  animation-duration: 0.5s;
}

@-webkit-keyframes fading {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
}

#submitAnswer {
  width: 50%;
  height: 20%;
  color: white;
  background-color: #97ca3d;
  border: 4px solid #97ca3d;
  border-radius: 20px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
  font-size: 20px;
  animation: pulse infinite 1s;
}

#submitAnswer:hover {
  background-color: transparent;
  color: #97ca3d;
  cursor: pointer;
}
.optionsBlock {
  max-width: 400px;
}
.radioContainer {
    display: block;
    color: #0098a4;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: white;
    border-radius: 10px;
}

.radioContainer p {
  margin-left: 65px;
}
/* Hide the browser's default radio button */
.radioContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 13%;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #0098a4;
    margin-left: 5px;
    border-radius: 50%;
    padding: 10px;

}

/* On mouse-over, add a grey background color */
.radioContainer:hover input ~ .checkmark {
    background-color: #97ca3d;
}

/* When the radio button is checked, add a blue background */
.radioContainer input:checked ~ .checkmark {
    background-color: #97ca3d;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    padding: 10px;
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radioContainer input:checked ~ .checkmark:after {
    display: block;
}
