body {
  background-image: url("room.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    background-image: url("geography.png");
    background-repeat: no-repeat;
    background-size: 1440px 900px;
    /*opacity: 0.5;*/
}

#count, #click, #map {
  display: relative;
  color: white;
  font-size: 25px;
  margin: 2%;
}

ul {
  list-style-type: none;
  margin: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  margin-bottom: 100px;
  background-color: white;
  overflow: auto;
}

li {
  color: black;
  display: block;
}

li:hover {
  color: white;
  background-color: #8AE8A1;
}


.service {
  background-color:#8AE8A1;
  border: transparent;
  color: white;
  height: 40px;
  padding: 10px 20px;
  border-radius: 7px;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

.service-container {
  position: fixed;
  bottom: 0;
  left: 0;
}

#area51 {
  display: block;
  position: fixed;
  margin-top: 20%;
  margin-bottom: 20%;
  margin-left: 220%;
}

#div1 {
    width: 350px;
    height: 70px;
    padding: 10px;
    background-color: green;
}
