.navbar {
  overflow: hidden;
  background-color: #0099CC;
  opacity: 0.8;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#notMap {
  display: none;
}

#map {
  position: fixed;
  top: 50px;
  left: 50px;
  height: 900px;
  width: 900px;
}

#gameTitle {
  color: white;
  display: inline-block;
  position: absolute;
  text-align: center;
  position: absolute;
  padding: 14px;
  text-decoration: none;
  font-size: 20px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Cinzel', serif;
}

#gameTitle:hover {
  color: #003399;
}

#startButton {
  color: white;
  float: left;
  padding: 14px;
  text-decoration: none;
  font-size: 20px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Cinzel', serif;
}

#startButton:hover, #pauseButton:hover, #resumeButton:hover {
  color: #003399;
  cursor: pointer;
}

#pauseButton {
  color: white;
  float: left;
  display: none;
  padding: 14px;
  text-decoration: none;
  font-size: 20px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Cinzel', serif;
}

#resumeButton {
  color: white;
  float: left;
  display: none;
  padding: 14px;
  text-decoration: none;
  font-size: 20px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Cinzel', serif;
}

#settingsButton, #informationButton {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Cinzel', serif;
  border-left: 1px solid white;
}

#settingsButton:hover, #informationButton:hover {
  border-left: #003399;
  background: #003399;
  color: white;
}

#gamePaused {
  display: none;
  position: fixed; /*it can be fixed too*/
  left:0; right:0;
  top:0; bottom:0;
  margin: auto;
  width:50%;
  height:10%;
  opacity: 0.8;
  background-color: #0099CC;
  color: white;
  border:2px solid #ccc;
  -moz-border-radius: 20px;
  -webkit-border-radius:20px;
  -khtml-border-radius:20px;
  -moz-box-shadow: 0 1px 5px #333;
  -webkit-box-shadow: 0 1px 5px #333;
}

#beforeStart {
  position: absolute; /*it can be fixed too*/
  left:0; right:0;
  top:0; bottom:0;
  margin: auto;
  width: 75%;
  height: 75%;
  opacity: 0.95;
  background-color: #0099CC;
  color: white;
  padding:20px;
  border:2px solid #ccc;
  -moz-border-radius: 20px;
  -webkit-border-radius:20px;
  -khtml-border-radius:20px;
  -moz-box-shadow: 0 1px 5px #333;
  -webkit-box-shadow: 0 1px 5px #333;
}

#flexContainer {
  left:0; right:0;
  top:0; bottom:0;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 80%;
}
.blocks {
  margin-left: 10px;
  width: 33%;
  height: 90%;

}

.vl {
    border-left: 6px solid green;
    height: 500px;
}

#startZoom {
  float: right;
  width: 10%;
  height: 10%;
  color: white;
  background-color: #003399;
  border: 4px solid #003399;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

#startZoom:hover {
  background-color: transparent;
  color: #003399;
  cursor: pointer;
}

#settingsMenu, #informationMenu{
    display: none;
    position: fixed; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin: auto;
    width:50%;
    height:50%;
    opacity: 0.8;
    background-color: #0099CC;
    color: white;
    padding:20px;
    border:2px solid #ccc;
    -moz-border-radius: 20px;
    -webkit-border-radius:20px;
    -khtml-border-radius:20px;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
}

#settingsMenu, #informationMenu, #gamePaused, #beforeStart h1 {
  text-align: center;
  user-select: none;
}

#gamePaused h1:hover {
  color: #003399;
}

a.boxClose{
    float:right;
    margin-top:-40px;
    margin-right:-60px;
    cursor:pointer;
    color: black;
    border: 1px solid #AEAEAE;
    border-radius: 50%;
    background: white;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 30px;
}

a.boxClose:hover {
  background-color: #66CCFF;
  color: white;
}

.boxClose:before {
    content: "×";

}

#roundBarsContainer {
}

#roundsBox{
  position: fixed; /*it can be fixed too*/
  top: 0;
  right: 0;
  margin: auto;
  width:10%;
  opacity: 0.8;
  background-color: #0099CC;
  color: white;
  padding:5px;
  border:2px solid #ccc;
  -moz-box-shadow: 0 1px 5px #333;
  -webkit-box-shadow: 0 1px 5px #333;
  font-family: 'Risque', cursive;
  font-size: 25px;
  text-align: center;
  color: white;
  -moz-user-select: -moz-none;
-khtml-user-select: none;
-webkit-user-select: none;
}

#timer {
  font-family: 'Risque', cursive;
  font-size: 30px;
  text-align: center;
  padding: 20px;
  color: white;
}

#renewableProgressBar, #nonRenewableProgressBar{
    width:100px;
    height:350px;
    position: fixed;
    top: 0;
    right: 100px;
    margin-top: 135px;
}

#nonRenewableProgressBar{
    right: 0;
}

.barBackground{
	width:90%;
  float:left;
	background-color: #0099CC;
	margin:7px 5% 5px 5%;
	padding-bottom:10px;
	border:2px solid #ccc;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -moz-user-select: -moz-none;
-khtml-user-select: none;
-webkit-user-select: none;
}

.barBackground .title{
    font-family:"Arial";
	color:white;
	font-size:9pt;
    font-weight:bold;
	text-align:center;
	padding:15px 0px 5px 0px;
}

#renewable-bar, #nonRenewable-bar{
  float:left;
	width:90%;
	margin:0px 5% 0px 5%;
	height:260px;
	background-color: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#renewableProgress, #nonRenewableProgress {
  width:81px;
  float:left;
  height: 0px;
  max-height: 260px;
  position: absolute;
  bottom: 23px;
  z-index: 1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#renewableProgress {
  background-color:#6ae719;
}

#nonRenewableProgress {
  background-color: red;
}

.bar-2, .bar-3, .bar-4, .bar-5, .bar-6, .bar-7, .bar-8, .bar-9{
	float:left;
	width:100%;
	background-color: black;
	height: 1px;
  margin-top: 5px;
}

.bar-1{
	margin-bottom:14px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

.bar-2{
	margin-bottom:15px;
}

.bar-3{
	margin-bottom:16px;
}

.bar-4{
	margin-bottom:17px;
}

.bar-5{
	margin-bottom:18px;
}

.bar-6{
	margin-bottom:19px;
}

.bar-7{
	margin-bottom:20px;
}

.bar-8{
	margin-bottom:24px;
}

.bar-9{
	margin-bottom:22px;
}

.attendance-level{
	width:80px;
    z-index: 9999;
    position: absolute;
    top:60px;
}

#changeatt, #changeatt:hover {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    cursor: pointer;
    color: red;
}
