#roundsBox{
  position: fixed; /*it can be fixed too*/
  top: 0;
  right: 0;
  margin: auto;
  width:10%;
  height:10%;
  opacity: 0.8;
  background-color: #0098a4;
  color: white;
  padding:20px;
  border:2px solid #ccc;
  -moz-box-shadow: 0 1px 5px #333;
  -webkit-box-shadow: 0 1px 5px #333;
}

#myProgress {
  width: 100%;
  background-color: white;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: black;
}

.navbar {
  overflow: hidden;
  background-color: #0098a4;
  opacity: 0.8;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#gameTitle {
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 20px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Cinzel', serif;
}

#settingsButton, #informationButton {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Cinzel', serif;
  border-left: 1px solid white;
}

#settingsButton:hover, #informationButton:hover {
  border-left: #97ca3d;
  background: #97ca3d;
  color: white;
}

#settingsMenu, #informationMenu {
    display: none;
    position: fixed; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin: auto;
    width:50%;
    height:50%;
    opacity: 0.8;
    background-color: #0098a4;
    color: white;
    padding:20px;
    border:2px solid #ccc;
    -moz-border-radius: 20px;
    -webkit-border-radius:20px;
    -khtml-border-radius:20px;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
}

#settingsMenu, #informationMenu h1 {
  text-align: center;
  user-select: none;
}

a.boxClose{
    float:right;
    margin-top:-30px;
    margin-right:-30px;
    cursor:pointer;
    color: black;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: white;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px;
}

a.boxClose:hover {
  background-color: #97ca3d;
  color: white;
}
.boxClose:before {
    content: "×";

}
